body {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 0);
}

.creator {
    color: rgb(0, 0, 0);
}

span {
    border-radius: 10px;
}

a {
    color: rgb(0, 0, 0);
}


/******************************/

table {
    width: 50%;
}

table,
th,
td {
    border: 1px solid rgb(228, 253, 0);
    border-collapse: inherit;
}

th,
td {
    padding: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.425);
}