body {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 0);
}

a {
    color: rgb(136, 0, 136);
}

.all {
    align-items: center;
    width: auto;
    height: auto;
    position: absolute;
    right: 50%;
    margin-right: 10%;
}

.first {
    width: 450px;
    height: auto;
    position: absolute;
    border-top: 1px solid;
}

.secound {
    margin-top: 200px;
    width: 450px;
    height: auto;
    position: absolute;
    border-top: 1px solid;
}